<div class="container">
  <div class="row">
    <h2>ログイン</h2> 
    <% if @error_message %>
      <h3 class="alert alert-danger"><%= @error_message %></h3>
    <% end %>
    <%= form_tag("/login") do %>
    <form>
      <div class="form-group form-group-lg">
        <label>Twitter</label>
        <div class="row">
          <div class="col-xs-4">
            <input class="form-control" name="twitter" value="<%= @twitter %>">
          </div>
        </div>
      </div>
      <div class="form-group form-group-lg">
        <label>パスワード</label>
        <div class="row">
          <div class="col-xs-4">
            <input class="form-control" type="password" name="password" value="<%= @password %>">
            </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">ログイン</button>
      </div>
    </form>
    <% end %>
  </div>
</div>