<div class="container">
  <div class="row">
    <h1>投稿一覧</h1>
        <% @posts.each do |post| %>
          
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="<%= "/user_images/#{post.user.image_name}" %>">
                <div class="caption">
                  <h4><%= link_to("名前：" + post.user.name, "/users/#{post.user.id}") %></h4>
                  <p><%= link_to(post.content, "/posts/#{post.id}") %></p>
                </div>
              </div>
            </div>
          
        <% end %>
  </div>
</div>